
*{
    margin: 0;
    line-height: 1.5rem;
}
h2{
    font-size: 1.7rem;
}

nav{
    width: 15%;
    height: 100vh;
    border-right: 3px solid grey;
    position: fixed;
}
.nav-item-box{
    border-bottom: 1px solid black;
    padding: 15px 30px;
}
#nav-item-box-14{
    border-bottom: none;
}
a, p, li{
    text-decoration: none;
    color: rgb(100, 99, 99);
    font-size: 1.1rem;
}
#main-doc{
    margin-left: 15%;
    margin-bottom: 30px;
}
section{
    padding: 30px 30px 0px 30px;
}

#section-information{
    padding-top: 20px;
    padding-left: 20px;
}

#code-text-div {
    margin: 10px;
    padding: 10px;
    background-color: beige;
}
#MDN_link{
    text-decoration: underline;
    color: blue;
}

@media screen and (max-width: 700px){
    .nav-item-box{
    padding: 10px;
    }
    nav h2{
        font-size: 1rem;
    }
    nav a {
        font-size: 0.8rem;
    }
}
