/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

#main{
    margin: 30px 5px; 
}

.myHeader{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
#title{
    background-color: white;
    font-size: 40px;
}
h4{
    background-color: white;
}
#img-div{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
#img{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
#img-caption{
    background-color: coral;
}

